nav
{
    margin-bottom:5%;
}

.submit-button
{
    white-space: normal;
    border-radius:8px !important;
    margin:6px 0px;
}

.test-btn
{
    display: block;
}

.mainForm
{
    padding-bottom:150px;
}

.questionText
{
    margin-bottom:20px;
}

.answer-radio
{
    width:100%;
}