nav
{
    margin-bottom:5%;
}

.submit-button
{
    white-space: normal;
    border-radius:8px !important;
    margin:6px 0px;
}

.test-btn
{
    display: block;
}

.mainForm
{
    padding-bottom:150px;
}

.questionText
{
    margin-bottom:20px;
}

.answer-radio
{
    width:100%;
}

.card-header
{
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,.125);
}

#accordion .card
{
    border:none;
}

@media only screen and (max-width: 400px)
{
    .jumbotron h1
    {
        font-size: 2.5rem;
    }
}